<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test depends on methods feature">
    <classes>
      <class name="basicTestAnnotations.DependsOnMethod"/>
      <class name="basicTestAnnotations.FirstTestNGClass"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test priority feature">
    <classes>
    <class name="basicTestAnnotations.DependsOnMethod"/>
      <class name="basicTestAnnotations.FirstTestNGClass"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
